.TodoItem {
    color: #000;
    display: flex;
    margin: 0;
    padding: 0px 20px;
    border-bottom: 1px solid #bbb;
    font-family: 'Helvetica Neue',
    Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 24px;
}

.TodoItem-complete {
    text-decoration: line-through;
    opacity: .3;
}

.TodoItem p {
    margin-left: 20px;
}

.TodoItem img {
    cursor: pointer;
}

.close {
    margin-left: auto;
    opacity: 0;
}

.TodoItem:hover .close {
    opacity: .5;
}

.TodoItem:hover .close:hover {
    opacity: 1;
}